/*@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=block');*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

html {
    overflow: hidden;
    background-color: #FFF0F7;
    color: #505050;
}

a {
    color: #505050;
    text-decoration: none;
}

a:link {
    color: #505050;
}

a:visited {
    color: #505050;
}

a:hover {
    color: #000000;
}

a:active {
    color: #505050;
}

.hidden {
    display: none;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#wrapper {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
/*    font-family: 'Rubik', sans-serif;*/
}

div#main {
    position: absolute;
    text-align: left;
    max-width: 500px;
    margin-top: 15vw;
    margin-right: 15vw;
    left: 15vw;
    bottom: 15vw;
}

div#name h1 {
    font-size: 3em;
    font-weight: 500;
    margin: 0em;
    color: #0d0d0d;
}

div#email {
    margin-top: 0.5em;
}

div#email h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0em;
}

@media (max-width: 400px) {
    div#name h1 {
        font-size: 2em;
    }

    div#email h2 {
        font-size: 1.0em;
    }

    div#links ul li {
        font-size: 0.8em;
    }
}

div#links {
    margin-top: 3em;
}

div#links ul {
    list-style: none;
    padding: 0em;
    margin: 0em;
}

div#links ul li {
    margin-top: 1em;
    font-weight: 400;
}
